# fasta or genbank files or txt files I created that are list:
*.fna
*.faa
*.fasta
*.gbff
*.prots
*.gz
*.nex
*.nxs
#exclude swp files
*.swp
#exclude blast dbs
*.pin
*.phr
*.psq
*.psd
*.pog
*.psi
*.nin
*.nhr
*.nsq
*.nsd
*.nog
*.nsi
#exclude blast results
*.blast
md5checksums.txt
*allvsall*
#exclude unusedcrep
unusedCrap/*
*ind_*
*/familygeneextration/*
1stattempeDIDNOTWORK/**/README.txt
finishedsteps/1stattempeDIDNOTWORK/
