# fasta or genbank files or txt files I created that are list:
*.fna
*.faa
*.fasta
*.gbff
*.prots
*.gz
*.nex
*.nxs
#exclude swp files
*.swp
#exclude blast dbs
*.pin
*.phr
*.psq
*.psd
*.pog
*.psi
*.nin
*.nhr
*.nsq
*.nsd
*.nog
*.nsi
#exclude blast results
*.blast
*softmask*
*.test
*allvsall*
#exclude stuff no longer needed, stuff that can be recreated 
*CRISPR*.txt
*md5checksums.txt
README.txt
*hashes.txt
*report.txt
*local*
*.err
index.html
unusedCrap/*
*ind_*
*/familygeneextration/*
1stattempeDIDNOTWORK/**/README.txt
finishedsteps/1stattempeDIDNOTWORK/
